
@media (max-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1200px){
    .first-post{
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .first-post{
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .container{
        width: auto;
    }
    .first-post{
        margin-bottom: 25px;
    }
    .list-sub-page .col-sm-9{
        padding-left:0 ;
    }
    .list-sub-page .list-title{
        margin-top: 10px;
    }
    #header .info {
        text-align: center;
    }

    .mbButtonMenu {
        top: -10px;
        position: absolute;
        right: -5px;
        color: #fff
    }

    .mbButtonMenu {
        display: inline-block;
    }

    .menuTop {
        float: none;
        margin-top: 0;
        position: fixed;
        z-index: 200;
        left: 0;
        top: 0;
        background: #fae6b4;
        width: 75%;
        height: 100%;
        border-right: 2px solid #6e000b;
        display: none;
        padding-top: 10px;
        overflow: scroll;
    }

    .menuTop.on {
        display: block
    }

    .menuTop ul li {
        padding: 5px
    }

    .menuTop ul li {
        float: none;
        position: relative;
        width: 100%;
        padding-left: 5px
    }

    .menuTop li ul {
        top: auto;
        left: 0;
        padding: 5px 0 0px 0;
        box-shadow: none;
        display: block;
        min-width: 100%;
        z-index: 999;
        position: relative;
        background: #6e000b
    }

    .menuTop li ul li {
        margin: 0px 0;
        padding-left: 0px
    }

    .menuTop li ul li a {
        color: white;
        border-bottom: 1px solid #ddd;
        padding-left: 15px;
    }

    .menuTop ul li a {
        color: #671016;
    }

    .menuTop ul li a:hover {
        color: #fff;
    }

    .menuTop ul li a {
        padding: 0
    }

    .item-trans {
        width: 32.5%;
        float: left;
        padding-right: 0
    }

    .mbButtonMenuL {
        top: 2px;
        position: absolute;
        right: -5px;
        color: #fff
    }

    .mbButtonMenuL.navbar-toggle {
        margin-top: 0px;
        padding: 0 10px;
        top: -15px;
        right: -17px;
    }

    .mbButtonMenuL:hover,
    .mbButtonMenu:hover {
        color: #fafafa
    }

    .mbButtonMenuL {
        display: inline-block;
    }
    .first-post{
        margin-bottom: 25px;
    }
    .list-sub-page .col-sm-9{
        padding-left:0 ;
    }
    .list-sub-page .list-title{
        margin-top: 10px;
    }
    .menuTop ul li.search {
        display: block;
    }
    .search.search-header {
        display: none;
    }
    ul li input.form-control {
        padding-left: 34px;
        border-radius: 14px;
        width: 87%;
    }
    ul li button.icon-search {
        left: 2%;
    }
    div#header p.phone {
        text-align: inherit;
    }
    .content .container {
        padding: 38px 31px;
    }
    .small{
        margin-top: 40px;
        height: auto;
    }
    .col-md-6.small .col-md-8{
        padding: 0 15px ;
    }
    .atc{
        height: auto;
        margin-bottom: 40px;
    }
    .mgb40{
        margin-bottom: 40px;
    }
    div#footer .col-md-2 .logo{
        margin-top: 0;
    }
    .page-neo{
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .list-sub-page .col-sm-9{
        padding-left:0 ;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {
    .breadcrumb li a{
        font-size: 15px;
    }
    .breadcrumb > li + li::before, .breadcrumb > .active{
        font-size: 13px;
    }
}